Makefile
Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
doc/
install-sh
missing
mkinstalldirs
multipath.pot
stamp-h
/testsuite/config/
/testsuite/run/
testsuite/*.exp
testsuite/*.log
testsuite/raw.tmp.*
testsuite/tmp.err.*
testsuite/tmp.out.*
testsuite/yast2-multipath.sum
testsuite/yast2-multipath.test/
autom4te.cache
*.ami
.yardoc/
